* {
    /* Reset Page */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: CircularStd;
    font-weight: 400;
    
}
/* html {
    max-width: 50%;
    align-items: center;
} */
body {
    width: auto;
    margin: auto;
    background-color: #E7DFD3;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
h1 {
    font-size: 1.3rem;
    position: relative;
}
h2 {
    font-size: 0.7rem;
}
.clearfix::after {
    /* Cleared floated value (was meant as a hacky fix but turns out common) */
    content: "";
    clear: both;
    display: table;
}

.aws-btn {

    /* background-color: buttonface; */
    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 45px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;

    --button-primary-color: #fafafa;
    --button-primary-color-dark: #67cbc3;
    --button-primary-color-light: #349890;
    --button-primary-color-hover: #ecf9f8;
    --button-primary-border: 2px solid #b3e5e1;

    --button-secondary-color: #fafafa;
    --button-secondary-color-dark: #67cbc3;
    --button-secondary-color-light: #349890; /* font */
    --button-secondary-color-hover: #ecf9f8;
    --button-secondary-border: 2px solid #b3e5e1;

    --button-anchor-color: #95d44a;
    --button-anchor-color-dark: #52a934;
    --button-anchor-color-light: #3f8228;
    --button-anchor-color-hover: #89cf35;
    --button-anchor-border: 2px solid #5bbd3a;
}

.logo {
    background-image: url(../../img/logo.svg);
    /* z-index: 1 !important;*/
    background-size: 450px;
    width: 450px;
    height: 400px;
    position: relative;
    background-position: top;
}