body {

}

.cell {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.8);
    
}

.container {
    width: 70%;
    margin: auto;
}

.MuiGrid-root {
    max-width: 100% !important;
    width: 100% !important;
}

.recipeTitle{
    float: left;

}

.recipeButton{
    float: right;
}

.recipeCalories{
    float:right;
    opacity: 0.8;
}